// Light Mode Variable Customizations
$body-bg: #f4f4f4;

// Dark Mode Variable Customizations
// $body-bg-dark: #f00;

// Custom Theme Colors
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
$custom-theme-colors: (
	"1": green,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

@import "bootstrap-overrides/buttons";

// Dark/Light Modes
.bg-mode {
	background: rgba(248,249,250, 1);
}

.dark .bg-mode {
	background: #212529;
}
